=render partial: "shared/header"
=render partial: "shared/side_bar"
.profile-wrapper
  .profile-contents
    .profile-search
      =form_with(url: search_profiles_path,method: :get,local: true) do |f|
        = f.text_field :nickname,id:"search-input"
        =f.submit "検索する",id:"search-button"
    -if @profile.blank?
      = "該当するユーザーはいませんでした"    
    %ul.group-list-box
      = render @profile
    .group-page
      = paginate @profile