.comment-new-wrapper
  コメント欄
  .comment-new-box
    =form_with do |f|
      =f.text_area :text
      .comment-new-user
      =f.submit "コメントする"
<h1>ペルソナ5 メッセージウィンドウ</h1>

<div class="message-window">

  <div class="message-area">
        <div class="content">
            <div class="arrow-white">
            </div>
            <div class="arrow-black">
            </div>

            <div class="background-white">
            </div>
            <div class="background-black">
            </div>
            <div class="text-area">
                <div>来てくれるかな</div>
                <div>モルモット君？</div>
            </div>
        </div>
    </div>
</div>