= render partial: "shared/header"
.top-page-wrapper
  .top-page-contents
    .top-page-upper
      .top-page-title
        .top-page-name
          cluster'a album
        .top-page-button
          = link_to 'ゲストでログイン', users_guest_user_path, method: :post,class:"top-page-guest"
      .top-page-text
        思い出の場所を共有できる
        %br
        このアルバムは大切な人と
    cluster's albumとは何か？