=render partial:"shared/header"
=render partial: "shared/side_bar"
.article_wrapper
  .article-contents
    .article-box
      記事検索画面
      =form_with(url: search_articles_path,method: :get,local: true) do |f|
        = f.text_field :name,id:"search-input",placeholder:"ここに記事名を入力してください"
        =f.submit "検索する",id:"search-button"