=render partial: "shared/header"
=render partial: "shared/side_bar"
.group-new-wrapper
  .group-new-contents
    .group-new-box
      .group-new-header
        グループ作成画面
      =render partial: "group_form"